/* Einzelne Felder */

.formInputField {
    background-color: #F4F4F4;
    color: #3A3A3A;
    border-radius: 8px;
    height: 5vh;
    width: 70%;
    display: flex;
    align-items: center;
    padding: 6px;
    margin-top: 1vh;
    margin-left: 15%;
    font-size: 48px;
}

.formTextfield {
    background-color: #F4F4F4;
    color: #3A3A3A;
    border-radius: 8px;
    height: 15vh;
    display: flex;
    align-items: center;
    width: 70%;
    padding: 6px;
    margin-top: 1vh;
    margin-left: 15%;
    font-size: 48px;
}

.formTypeButton {
    background-color: #F4F4F4;
    color: #3A3A3A;
    border-radius: 8px;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    margin-top: 1vh;
    /* margin-left: 15%; */
    font-size: 48px;
}

.formTypeButton:nth-child(2) {
    margin-left: 15%;
}

/* Img in Btn and ChooseBtn hidden -> https://cutt.ly/kRJhMtj */
.formInputFile {
    background-color: #F4F4F4;
    color: #3A3A3A;
    border-radius: 8px;
    height: 5vh;
    width: 70%;
    display: flex;
    align-items: center;
    /* display: inline-block; */
    margin-top: 1vh;
    margin-left: 15%;
    padding: 120px 0 0 0;
    font-size: 48px;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.formSubmitButton {
    background-color: #18B831;
    color: #3A3A3A;
    border-radius: 8px;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1vh;
    /* margin-left: 15%; */
    font-size: 48px;
    width: 50%;
}

.formSubmitButton > span {
    color: white;
    font-size: 48px;
}

/* Container */

#fromSideBySide{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

#form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.submitBtnContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}